.bd {
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.15);
}
.bdone {
    background-color: rgba(65, 128, 92, 0.15);
    border: 1px solid rgba(61, 124, 73, 0.15);
}


.update {
    animation: fadeIn 2s;
}
@keyframes fadeIn {
    0% { opacity: 0.5; background-color: greenyellow;}
    100% { opacity: 1; }
  }

  .w-65 {
    width: 50%;
  }

  .w-35 {
    width: 35%;
  }